.DS_Store
node_modules/
build/
dist
package-lock.json

# Editor directories and files
.idea/**/*
!.idea/icon.svg
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
