*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #f1f1f1;
}

#app {
	height: 100%;
	padding-top: 80px;
	flex-direction: column;
	overflow: hidden;
}

.header {
	height: 56px;
	line-height: 56px;
	background-color: #1f9961;
	color: white;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}

.navi,
.ck-decoupled-toolbar,
.actions,
.ck-main {
	width: 1080px;
	margin: 0 auto;
}

.navi {
	padding: 0;
}

.navi > li {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 16px;
	border-bottom: solid 2px transparent;
	cursor: pointer;
}

.navi > li:hover {
	color: #84e6b9;
}

.navi > li.active {
	border-bottom-color: #84e6b9;
}

.main-wrapper {
	height: 100%;
	padding-bottom: 54px;
}

.actions {
	margin-bottom: 30px;
}

.actions button {
	margin-right: 10px;
}

.main {
	height: 100%;
	padding-bottom: 80px;
	overflow-x: hidden;
	overflow-y: auto;
}

.ck-decoupled-toolbar {
	position: sticky;
	z-index: 10;
	top: 0;
}

.ck-main.build-classic,
.ck-main.build-inline {
	width: 800px;
}

.ck-main.build-decoupled {
	background-color: #f2f2f2;
	padding: 20px;
	border-style: solid;
	border-width: 0 1px 0 1px;
	border-color: #ccc;
}

.ck-main.build-decoupled .ck-content {
	background-color: white;
	padding: 30px !important;
	width: 800px !important;
	margin: 0 auto;
}

.ck-main.build-decoupled .ck-content:not(:focus) {
	border: solid 1px #ccc !important;
}
